{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}
<div class="card content-shop-cat mt-4">
    {% for cart in carts %}
    <div class="name-good bg-body-tertiary">
        <h4>{{ cart.product.name }}</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row text-center">
                <div class="col p-0">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary decrement"
                            data-cart-id="{{ cart.id }}"
                            data-cart-change-url="{% url "cart:cart_change" %}">
                            {% csrf_token %}
                            -</button>
                        </span>
                        <input type="text" class="form-control number" value="{{ cart.quantity }}">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary increment"
                            data-cart-id="{{ cart.id }}"
                            data-cart-change-url="{% url "cart:cart_change" %}">
                            {% csrf_token %}
                            +</button>
                        </span>
                    </div>
                </div>
                <div class="col p-0">
                    <p>x {{ cart.product.sell_price }} =</p>
                </div>
                <div class="col p-0">
                    <p>{{ cart.product_price }}₽</p>
                </div>
                <div class="col p-0">
                    <a href="{% url "cart:cart_remove" %}" class="remove-from-cart"
                    data-cart-id="{{ cart.id }}">
                    {% csrf_token %}
                    <img src="{% static "deps/images/trash.svg" %}"
                            alt="" width="22" height="22"></a>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
<div class="card mt-4 mb-4">
    <div class="card-body">
        <p class="float-left">
            Итого
            <strong>{{ carts.total_quantity }}</strong>
            товар(а/ов) на сумму:
        </p>
        <h5 class="float-left">
            <strong>{{ carts.total_price }}₽</strong>
        </h5>
    </div>
</div>