{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container_catalog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <div class="container-caent-catalog">
                    <div class="container-fluid mt-4">
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mt-4">
                                <div class="block catalog">
                                    <h3 class="title">
                                        <a href="{% url "catalog:catalog" %}">
                                            <span class="text">Каталог</span>
                                        </a>
                                    </h3>
                                    <div class="content name_catalog_left mx-2">
                                        {% for category in catalog %}
                                            <li class="nav-item">
                                                <a class="nav-link p-0 pt-2" href="{% url "goods:category" category.slug %}">{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="left_catalog_action">
                                    {% if catalog %}
                                        <div class="card mt-3">
                                            {% for category in catalog|slice:":1" %}
                                            <a href="{% url "goods:category" category.slug %}">
                                                <img src="{% static "deps/images/Банер_акция.jpg" %}" class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <p class="card-text">
                                                    <a href="{% url "goods:category" category.slug %}">Только сегодня, акции на велосипеды</a>
                                                </p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="card mt-3">
                                        <a href="{% url 'goods:new_goods' %}">
                                            <img src="{% static "deps/images/Банер_акция_2.jpg" %}" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a href="{% url 'goods:new_goods' %}">Новые поступления</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="row">
                                    {% for cart in catalog %}
                                        <div class="col-lg-4 col-md-6 mt-4">
                                            <div class="card">
                                                <a href="{% url 'catalog:category' cart.slug %}">
                                                    <img src="{{ cart.image.url }}" class="card-img-top" alt="{{ cart.name }}">
                                                </a>
                                                <div class="card-body">
                                                    <p class="card-text"><a href="{% url 'catalog:category' cart.slug %}">{{ cart.name }}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}