{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container_catalog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <div class="container-caent-catalog">
                    <div class="container-fluid mt-4">
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mt-4">
                                <div class="block catalog">
                                    <h3 class="title">
                                        <a href="catalog.html">
                                            <span class="text">Каталог</span>
                                        </a>
                                    </h3>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="catalog_bicycle.html">
                                                    Велосипеды
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="balls.html">
                                                    Мячи
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="sneakers.html">
                                                    Кроссовки
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="trainer.html">
                                                    Тренажеры
                                                </a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <a href="sports_equipment.html">
                                                    Спортивный инвентарь
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="left_catalog_action">
                                    <div class="card mt-3">
                                        <a href="action.html"><img src="static/images/Банер акция.jpg"
                                                class="card-img-top" alt="..."></a>
                                        <div class="card-body">
                                            <p class="card-text"><a href="action.html">Только сегодня, акции на
                                                    велосипеды</a></p>
                                        </div>
                                    </div>
                                    <div class="card mt-3">
                                        <a href="new_goods.html"><img src="static/images/Банер акция_2.jpg"
                                                class="card-img-top" alt="..."></a>
                                        <div class="card-body">
                                            <p class="card-text"><a href="new_goods.html">Новые поступления</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12">
                                <div class="row">



                                    {% for cart in catalog_cart %}
                                        <div class="col-lg-4 col-md-6 mt-4">
                                            <div class="card">
                                                <a href="catalog_bicycle.html"><img
                                                        src="{% static cart.image %}" class="card-img-top"
                                                        alt="..."></a>
                                                <div class="card-body">
                                                    <p class="card-text"><a
                                                            href="catalog_bicycle.html">{{ cart.name }}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}





                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}