{% extends "main/base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <div class="container-content">
          <div class="container-fluid mt-4">
            <div class="row">
              <h3>Новинки</h3>
              <div class="col-lg-2">
                <div class="container-fluid mt-5">
                  <div class="dropdown mb-4">
                    <button class="btn btn-secondary dropdown-toggle btn-light" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Фильтр
                    </button>
                    <form action="" method="get" class="dropdown-menu bg-white" data-bs-theme="white">
                      <p class="text-dark mx-3 mt-3">Сортировать:</p>
                      <div class="form-check text-dark mx-3">
                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1"
                          value="default" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          По умолчанию
                        </label>
                      </div>
                      <div class="form-check text-dark mx-3">
                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2"
                          value="price">
                        <label class="form-check-label" for="flexRadioDefault2">
                          От дешевых к дорогим
                        </label>
                      </div>
                      <div class="form-check text-dark mx-3">
                        <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3"
                          value="-price">
                        <label class="form-check-label" for="flexRadioDefault3">
                          От дорогих к дешевым
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                    </form>
                  </div>
                  <h4>Каталог</h4>
                  <div class="content-left-catalog">
                    <ul>
                      {% for category in catalog %}
                      <li class="nav-item">
                          <a class="nav-link p-0 pt-2" href="{% url "goods:category" category.slug %}">{{ category.name }}</a>
                      </li>
                      {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="container-fluid mt-4">
                  <div class="col-lg-12 col-md-12">
                    <div class="row">

                      {% for cart in catalog_cart_new_goods %}
                      <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card custom-shadow">
                          <a href="{% url "catalog:product" cart.slug %}"><img src="{{ cart.image.url }}" class="card-img-top"
                              alt="{{ cart.image }}"></a>
                          <div class="new">
                            <div class="card-body">
                              <span class="badge bg-warning text-dark">Новинка</span>
                              <a href="{% url "catalog:product" cart.slug %}">
                                <h5 class="card-title">{{ cart.name }}</h5>
                              </a>
                              <a href="{% url "catalog:product" cart.slug %}">
                                <div class="text-truncate-container">
                                  <p class="card-text">{{ cart.description }}</p>
                                </div>
                              </a>
                            </div>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">id: {{cart.display_id }} </li>
                          </ul>
                          <div class="d-flex justify-content-between">
                            <p><strong>{{ cart.price }}₽</strong>
                            </p>
                            <!-- <p><strong>41390₽</strong></p> -->
                            <a href="#" class="btn">
                              <img class="mx-1" src="{% static "deps/images/basket.svg" %}" alt="Catalog Icon" width="32"
                                height="32">
                            </a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                    </div>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link">Назад</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Далее</a>
                        </li>
                      </ul>
                    </nav>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}