{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Авторизация</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="username" class="form-label">Имя пользователя*</label>
                            <input type="text" class="form-control" id="firstName"
                                placeholder="Введите ваше имя пользователя" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="password1" class="form-label">Пароль*</label>
                            <input type="password" class="form-control" id="lastName"
                                placeholder="Введите ваш пароль" required>
                        </div>
                    </div>
                    <div class="container-fluid btn-position btn-regstration">
                        <div class="btn-row">
                            <div class="col-lg-2">
                                <button type="button"
                                    class="btn btn-primary mt-2 mb-2">Войти</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button class="btn btn-warning" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Регистрация</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Регистрация</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName" class="form-label">Имя*</label>
                        <input type="text" class="form-control" id="firstName"
                            placeholder="Введите ваше имя" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName" class="form-label">Фамилия*</label>
                        <input type="text" class="form-control" id="lastName"
                            placeholder="Введите вашу фамилию" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="username" class="form-label">Имя пользователя*</label>
                        <input type="text" class="form-control" id="username"
                            placeholder="Введите ваше имя пользователя" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label">Email*</label>
                        <input type="email" class="form-control" id="email"
                            placeholder="Введите ваш email" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password1" class="form-label">Пароль*</label>
                        <input type="password" class="form-control" id="password1"
                            placeholder="Введите пароль" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password2" class="form-label">Подтверждение пароля*</label>
                        <input type="password" class="form-control" id="password2"
                            placeholder="Подтвердите пароль" required>
                    </div>
                </div>
                <div class="container-fluid btn-position btn-regstration">
                    <div class="btn-row">
                        <div class="col-lg-2">
                            <button type="button"
                                class="btn btn-primary mt-4 mb-4">Зарегистрироваться</button>
                        </div>
                        <div class="col-lg-10"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Авторизация</button>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-12">
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="nav-bar-bottom-profile">
                <ul class="nav mt-2 info-profile">
                    <li class="nav-item">
                        <a class="nav-link action" href="{% url "user:profile" %}">Мой профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link action" href="{% url "user:my_orders" %}">Мои заказы</a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %} 
                    <li class="nav-item">
                        <a class="nav-link action" href="{% url "admin:index" %}">Админ панель</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-1 col-md-12">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-lg-1 col-md-12">
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="col-lg-12 mb-4 text-center">
                    <h2>Мои заказы</h2>
                </div>
                <div class="card content-shop-cat mt-4">
                    <div class="accordion accordion-group-flush" id="accordionFlushExample">
                        {% for order in orders %}
                        <div class="accordion-item">
                            <div class="name-good bg-body-tertiary">
                                <h2 class="accordion-header" id="{{ order.id }}">
                                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}"
                                        aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                        Заказ {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong class="mx-2"> {{order.status}} </strong>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Товар</th>
                                                    <th scope="col">Количество</th>
                                                    <th scope="col">Цена</th>
                                                    <th scope="col">Общая стоимость</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order.orderitem_set.all %}
                                                <tr>
                                                    <td><a class="text-dark" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.price }} ₽</td>
                                                    <td>{{ item.products_price }} ₽</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between">
                                            <p class="p-0 m-0"><strong>Итого</strong></p>
                                            <p class="p-0 m-0"><strong>{{ order.total_price }} ₽</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% comment %} <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Заказ №2 - 11 апреля 2024 11:41 | Статус:
                                    <strong class="mx-2">Получен</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Товар</th>
                                                    <th scope="col">Количество</th>
                                                    <th scope="col">Цена</th>
                                                    <th scope="col">Общая стоимость</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Мяч для тенниса</td>
                                                    <td>2</td>
                                                    <td>410 ₽</td>
                                                    <td>820 ₽</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="p-0 m-0"><strong>Итого</strong></p>
                                        <p class="p-0 m-0"><strong>820 ₽</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-12">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Напишите нам</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="username" class="col-form-label">Текст сообщения:</label>
                    <input type="text" class="form-control" id="Message"
                        placeholder="Сообщение" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password1" class="form-label">Имя:</label>
                    <input type="text" class="form-control" id="Name"
                        placeholder="Введите ваше имя" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password1" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="Email"
                        placeholder="Введите ваш Email" required>
                </div>
            </div>
            <div class="container-fluid btn-position btn-regstration">
                <div class="btn-row">
                    <div class="col-lg-2">
                        <button type="button"
                            class="btn btn-warning mt-2 mb-2">Отправить</button>
                    </div>
                    <div class="col-lg-10 link-login">
                        <div class="social-network-link">
                            Наши социальные сети:
                            <a href="https://t.me/Timofei2003"><img style="width: 28px; margin-inline: 0.5em;"
                                src="static/images/TG.png" alt="TG"></a>
                            <a href="https://vk.com/tim3002"><img style="width: 46px;"
                                src="static/images/VK.png" alt="VK"></a>
                        </div>
                        <div class="number-phone mt-2">
                            <p>Наш телефон: +7-927-622-38-73</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
    </div>
    </div>
</div>
</div>
</div>
{% endblock content %}