{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "deps/styles/my_css.css" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/files/favicon_io/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/files/favicon_io/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/files/favicon_io/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "deps/files/favicon_io/site.webmanifest" %}">
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-1 col-md-12">
        </div>
        <div class="col-lg-10 col-md-12">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url "main:index" %}"><img src="{% static "deps/images/logo.svg" %}" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "catalog:catalog" %}">Каталог</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                      <img src="{% static "deps/images/login in.svg" %}" alt="" width="26" height="26">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "user:profile" %}"><img src="{% static "deps/images/profile.svg" %}" alt="" width="26"
                        height="26"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="shopping_cat.html"><img src="{% static "deps/images/shopping cart.svg" %}" alt=""
                        width="24" height="24"></a>
                  </li>
                </ul>
                <form class="d-flex" role="search" action="{% url "goods:search" %}" method="get">
                  <input class="form-control me-2" type="search" placeholder="Поиск" name="q" aria-label="Search">
                  <button class="btn btn-outline-success btn-color btn-color" type="submit"><img
                      src="{% static "deps/images/search.svg" %}" alt="" width="20" height="20"></button>
                </form>
              </div>
            </div>
          </nav>
          <div class="nav-bar-bottom">
            <ul class="nav justify-content-between mt-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'goods:action' %}">Акции</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'goods:new_goods' %}">Новинки</a>
              </li>
              {% for category in catalog %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url "goods:category" category.slug %}">{{ category.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Авторизация</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form form action="{% url "user:login" %}" method="post">
              {% csrf_token %}

              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="id_username" class="form-label">Имя пользователя*</label>
                  <input type="text" class="form-control" 
                  value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                  name="username" id="id_username" 
                  placeholder="Введите ваше имя пользователя"
                  required>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="id_password" class="form-label" >Пароль*</label>
                  <input type="password" class="form-control" 
                  name="password" id="id_password" 
                  placeholder="Введите пароль" 
                  required>
                </div>
              </div>
              <div class="container-fluid btn-position btn-regstration">
                <div class="btn-row">
                  <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary mt-2 mb-2">Войти</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-bs-target="#exampleModalToggle2"
              data-bs-toggle="modal">Регистрация</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Регистрация</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName" class="form-label">Имя*</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Введите ваше имя" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName" class="form-label">Фамилия*</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Введите вашу фамилию" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="username" class="form-label">Имя пользователя*</label>
                  <input type="text" class="form-control" id="username" placeholder="Введите ваше имя пользователя"
                    required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email" class="form-label">Email*</label>
                  <input type="email" class="form-control" id="email" placeholder="Введите ваш email" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="password1" class="form-label">Пароль*</label>
                  <input type="password" class="form-control" id="password1" placeholder="Введите пароль" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="password2" class="form-label">Подтверждение пароля*</label>
                  <input type="password" class="form-control" id="password2" placeholder="Подтвердите пароль" required>
                </div>
              </div>
              <div class="container-fluid btn-position btn-regstration">
                <div class="btn-row">
                  <div class="col-lg-2">
                    <button type="button" class="btn btn-primary mt-4 mb-4">Зарегистрироваться</button>
                  </div>
                  <div class="col-lg-10"></div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" data-bs-target="#exampleModalToggle"
              data-bs-toggle="modal">Авторизация</button>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/notifications.html" %}
    {% block content %}

    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Напишите нам</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="username" class="col-form-label">Текст сообщения:</label>
                        <input type="text" class="form-control" id="Message"
                            placeholder="Сообщение" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password1" class="form-label">Имя:</label>
                        <input type="text" class="form-control" id="Name"
                            placeholder="Введите ваше имя" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password1" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="Email"
                            placeholder="Введите ваш Email" required>
                    </div>
                </div>
                <div class="container-fluid btn-position btn-regstration">
                    <div class="btn-row">
                        <div class="col-lg-2">
                            <button type="button"
                                class="btn btn-warning mt-2 mb-2">Отправить</button>
                        </div>
                        <div class="col-lg-10 link-login">
                            <div class="social-network-link">
                                Наши социальные сети:
                                <a href="https://t.me/Timofei2003"><img style="width: 28px; margin-inline: 0.5em;"
                                    src="{% static "deps/images/TG.png" %}" alt="TG"></a>
                                <a href="https://vk.com/tim3002"><img style="width: 46px;"
                                    src="{% static "deps/images/VK.png" %}" alt="VK"></a>
                            </div>
                            <div class="number-phone mt-2">
                                <p>Наш телефон: +7-927-622-38-73</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
        </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-12 footer-text text-center">
          <a href="{% url "main:index" %}"><img src="{% static "deps/images/logo.svg" %}" alt="logo"></a>
          <p>Политика конфиденциальности</p>
          <p>Все права защищены. 2024</p>
        </div>
        <div class="col-lg-4 col-md-12 footer-text text-center media-links">
          <div class="footer-about">
            <p><a href="{% url "main:about" %}">О наc</a></p>
            <a class="nav-link-footer" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <p>Напишите нам</p>
            </a>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 media-links">
          <a href="https://t.me/Timofei2003"><img style="width: 32px; margin-inline: 1em;" src="{% static "deps/images/TG.png" %}"
              alt="TG"></a>
          <a href="https://vk.com/tim3002"><img style="width: 50px; margin-inline: 1em;" src="{% static "deps/images/VK.png" %}"
              alt="VK"></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>